[Unit]
Description=MMC mailbox control daemon
Documentation=https://github.com/MicroTCA-Tech-Lab/mmc-mailbox
After=basic.target
[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/sbin/mmcctrld
[Install]
WantedBy=multi-user.target

